{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<main>
    <div class="map-container">
        <div class="animated-container">
            <div class="contact_">
              <div class="info-foot">
                <span id="logo-foot"> <span id="first-lett">&lt;/C</span>atgo<span id="first-lett">&gt;</span></span>
                If you liked my work and you need me, I'm ready to talk to you.
              </div>
                    <div id="ct" class="contats">
                    <h2>Сontacts</h2>
                    <div class="contact">
                      <span id="new-contact"><img src="https://raw.githubusercontent.com/simple-icons/simple-icons/4ae63bc2e50725eb1500ec95b543a67101bf3bbb/icons/gmail.svg">Catgo@ya.ru</span>
                      <span id="new-contact"><img src="https://raw.githubusercontent.com/simple-icons/simple-icons/4ae63bc2e50725eb1500ec95b543a67101bf3bbb/icons/github.svg">Catgo</span>
                      <span id="new-contact"><img src="https://img.icons8.com/?size=512&amp;id=38692&amp;format=png">@catgo</span>
                      <span id="new-contact"><img src="https://raw.githubusercontent.com/simple-icons/simple-icons/4ae63bc2e50725eb1500ec95b543a67101bf3bbb/icons/figma.svg">Catgo</span>
                    </div>
                </div>
            </div>
        </div>
      </div>
</main>
{% endblock %}